.exercises {
    padding: 20px; 
}

.grid {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    text-align: left;
}

.stepsGrid {
    display: grid;
    grid-template: 1fr / 1fr;
    text-align: left;
}

